<!DOCTYPE html>
<html>
<head>
    <title>Тесты</title>
    <link rel="stylesheet" href="static/theme.css">
</head>
<body>
<table class="wrapper">
    <tbody>
    <tr>
        <td><h2>Цикл интернет-олимпиад. Сезон 2016-2017. Третья командная олимпиада. По задачам СПбКОШП.</h2>
            <p>Попыток: {{ triesTotal }} удачных: {{ triesPassed }}
                <br>Последняя удачная попытка: {{ lastTeam }}, {{ lastTask }}, {{ lastTime }} <br>
            </p>
            <center>
                <table class="standings">
                    <tbody>
                    <tr bgcolor="ffffff">
                        <th class="party">Команда</th>
                        <th class="problem">A</th>
                        <th class="problem">B</th>
                        <th class="problem">C</th>
                        <th class="problem">D</th>
                        <th class="problem">E</th>
                        <th class="problem">F</th>
                        <th class="problem">G</th>
                        <th class="problem">H</th>
                        <th class="problem">I</th>
                        <th class="problem">J</th>
                        <th class="problem">K</th>
                        <th class="solved">=</th>
                        <th class="penalty">Время</th>
                        <th class="rank">Место</th>
                    </tr>
                    <tr height="3">
                        <td colspan="15">
                            <hr size="1" color="000000">
                        </td>
                    </tr>
                    {% for team in teams %}
                    <tr bgcolor="d0f0ff">
                        <td class="party">{{ team.name }}</td>
                        {% for task in tasks %}
                            <td class="problem">
                            {% if task in team.tasks %}
                            {% set task_info = team.tasks[task] %}
                            {% set tag, prefix = 'i+' if task_info.is_solved else 'b-' %}
                                <{{ tag }}>{{ prefix }}
                                {%- if task_info.failed_tries > 0 -%}
                                    {{ task_info.failed_tries }}
                                {% endif %}
                                {% if task_info.solve_time %}
                                    <br><s>{{ task_info.solve_time }}</s>
                                {% endif %}
                                </{{ tag }}>
                            {% else %}
                                .
                            {% endif %}
                            </td>
                        {% endfor %}
                        <td class="solved">{{ team.solved }}</td>
                        <td class="penalty">{{ team.penalty }}</td>
                        <td class="rank">{{ team.rank }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>