<!DOCTYPE html>
<html>
<head>
    <title>src</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/androidstudio.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body class="hljs">
<pre><code class="language-python">{{ contents }}</code></pre>
</body>
</html>