<!DOCTYPE html>
<html>
<head>
    <title>src</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>
<body>
</body>
<div style="text-align: left;">
    <pre>{{ contents }}</pre>
</div>
</html>